<h3>VIEW MERCHANTS</h3>

<a href="/merchants/add">ADD A MERCHANT</a>

  <table class="transactions-table"
    <thead>
      <tr>
        <th>NAME</th>
        <th>TRANSACTIONS</th>
        <th>EDIT</th>
        </tr>
        <thead>
          <tbody>
<% @merchants.each do |merchant| %>

        <tr>
          <td><%=merchant.name%></td>
        <td><a href="/merchants/<%=merchant.id%>">See All</a></td>
        <td><a href="/merchants/<%=merchant.id%>/edit"><img src="/images/mdi_create.png" alt="edit_sign" height="20px" width="35px"></a></td>
          </tr>
    <% end %>

    </tbody>
    </table>
