<!DOCTYPE html>
<html>
<head>
  <title>Money Tracker</title>
</head>
<body>
<main class="flex flex--row">
  <section id="content" class="container">
    <div class="transactions">TRANSACTIONS
      <br>
        <p class="link"><a href="/transactions/view">View</a></p>
        <p class="link"><a href="/transactions/add">Add</a></p>
      </div>
    <div class="merchants">MERCHANTS</div>
    <div class="tags">TAGS</div>
    <div class="stats">MONTHLY STATS</div>

  </section>
  </main>
</body>
</html>
