<!DOCTYPE html>
<html>
<head>
  <title>Money Tracker</title>
</head>
<body>
<main class="container">
  <div class="transactions">
          TRANSACTION
        <a class="link" href="/transactions/view">View</a>
        <a class="link" href="/transactions/add">Add</a>
      </div>
    <div class="merchants">
      MERCHANTS
      <a href="/merchants/view">View</a>
      <a href="/merchants/add">Add</a>
      </div>
    <div class="tags">TAGS
      <a href="/merchants/view">View</a>
      <a href="/merchants/add">Add</a>
      </div>
      <div class="monthly stats">MONTHLY STATS
      </div>
  </main>




<!-- <main>
  <section id="content" class="wrapper">
    <div class="row">
      <div class="column"
        <div class="transactions">
          TRANSACTIONS
        <p class="link"><a href="/transactions/view">View</a></p>
        <p class="link"><a href="/transactions/add">Add</a></p>
      </div>
    </div>
    <div class="column">
      <div class="merchants">
        MERCHANTS
        <br>
          <p class="link"><a href="/merchants/view">View</a></p>
          <p class="link"><a href="/merchants/add">Add</a></p>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="column">
      <div class="tags">
        TAGS
        <br>
        <p>View tags</p>
        <p>Edit tags</p>
      </div>
      </div>
      <div class="column">
        <div class="stats">
          <div class="stats">MONTHLY STATS
            <br>
            <p>Check remaining allowance</p>
            <p>Update allowance</p>
          </div>
          </div>
          </div>
</div>
  </section> -->

</body>
</html>
