<h1>STATS PER TAGS</h1>

<table class="transactions-table">
  <thead>
    <tr>
      <th>TAG</th>
      <th>AMOUNT SPENT IN LAST 30 DAYS</th>
      <th>AMOUNT SPENT SINCE BEGINNING</th>
      <th>TRANSACTIONS
      </tr>
      <thead>
        <tbody>
          <% @tags.each do |tag| %>
          <tr>
            <td><%=tag.type%></td>
            <td>£<%=tag.spent_per_tag_last_30_days()%></td>
            <td>£<%=tag.spent_per_tag%></td>
            <td><a href="/tags/<%=tag.type%>/transactions">See All</a>
            </tr>
            <%end%>
  </tbody>
  </table>
