

<% for transaction in @transactions %>

<p>Amount: <%=transaction.amount%></p>
<p>Date: <%=transaction.a_date%></p>
<p><
<p><input type="hidden" name="transaction_id" value="<%=transaction.id%>">
  <input type="hidden" name="type" value="<%=@type%>"><label>.
<hr>
<%end%>
