<h3>All Transactions Tagged As <%=@type.capitalize%></h3>


<table class="transactions-table">
  <thead>
    <tr>
      <th>AMOUNT</th>
      <th>DATE</th>
      <th>MERCHANT</th>
      </tr>
      </thead>
      <tbody>

<% for transaction in @transactions %>

<tr>
  <td>£<%=transaction.amount%></td>
  <td><%=transaction.a_date%></td>
  <td><%=transaction.merchant.name%></td>
</tr>
<%end%>
</tbody>
</table>
