<h1>Add a New Transaction</h1>

<form action="/transactions/added" method="POST"

<p><input type="number" placeholder="Enter Amount" name="amount" required></p>

<p><input type="date" name="a_date" required></p>

<p><label>Pick a merchant:</label>
  <select name="merchant_id"
    <% for merchant in @merchants %>
      <option value="<%= merchant.id %>">
        <%= merchant.name %></option>
      <%end%>
    </select>
</p>

<input type="submit" values="Add Transaction">
</form>
