<h1>STATS</h1>

<table class="stats-table"
  <thead>
    <tr>
      <th>DESCRIPTION</th>
      <th>AMOUNT</th>
      </tr>
      <thead>
        <tbody>
          <tr>
            <td>Remaining budget this month</td>
            <td></td>
            <td>Change budget</td>
            </tr>
          <tr>
        <td>Total spent this month:</td>
        <td><%=@this_month%></td>
         </tr>
        <tr>
        <td>Total spent last month:</td>
        <td><%=@last_month%></td>
          </tr>

  </tbody>
  </table>
