<h3>LATEST OVERALL SPENDING</h3>

<table class="transactions-table"
  <thead>
    <tr>
      <th>DESCRIPTION</th>
      <th>AMOUNT</th>
      </tr>
      <thead>
        <tbody>
          <tr>
        <td>Spending This Month</td>
        <td>£<%=@this_month%></td>
         </tr>
        <tr>
        <td>Spending Last Month</td>
        <td>£<%=@last_month%></td>
          </tr>
          <tr>
            <td>Spending Last 90 Days</td>
            <td><%=@last_90_days%></td>
            </tr>

  </tbody>
  </table>

  <a href="/transactions/view">Back to All Transactions</a>
